/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #642d00ff;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 40px 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #642d00;
}

.membros {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.membro {
    width: 200px;
    text-align: center;
}

.membro img {
    width: 100%;
    border-radius: 50%;
    height: auto;
}

.orientador-info {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.orientador-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.links-projeto a {
    display: block;
    color: #ff8800;
    text-decoration: none;
    margin-bottom: 10px;
}

.links-projeto a:hover {
    text-decoration: underline;
}

.imagens-projeto {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.imagens-projeto img {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #642800;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}
.animar {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Quando aparecer na tela */
.visivel {
  opacity: 1;
  transform: translateY(0);
}